<% if user_signed_in? %>
  <p id="notice"><%= notice %></p>

  <%= link_to 'Schedule New Interview', new_interview_schedule_path, class:"btn btn-secondary p-btn" %>
  <br>
  <h2>Interviews Scheduled</h2>

  <table class="table table-striped table-bordered table-hover">
    <thead class="table-bg">
      <tr>
        <th>Interviewer</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Interviewee</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Resume</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @interview_schedules.each do |interview_schedule| %>
        <tr>
          <td><%= Interviewer.find(interview_schedule.interviewer_id).name %></td>
          <td><%= Interviewer.find(interview_schedule.interviewer_id).email_id %></td>
          <td><%= Interviewer.find(interview_schedule.interviewer_id).phone %></td>
          <td><%= Interviewee.find(interview_schedule.interviewee_id).name %></td>
          <td><%= Interviewee.find(interview_schedule.interviewee_id).email_id %></td>
          <td><%= Interviewee.find(interview_schedule.interviewee_id).phone %></td>
          <td><%= interview_schedule.start_time %></td>
          <td><%= interview_schedule.end_time %></td>
          <td><a href=<%="uploads/"+interview_schedule.resume%>> <%= interview_schedule.resume %></a></td>
          
          
          <td><%= link_to 'Show', interview_schedule_path(:id=>interview_schedule,:email=>Interviewee.find(interview_schedule.interviewee_id).email_id) %></td>
          <td><%= link_to 'Edit', edit_interview_schedule_path(interview_schedule) %></td>
          <td><%= link_to 'Destroy', interview_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<h2>Not signed in</h2>

<% end %>      
