<p id="notice"><%= notice %></p>

<p>
  <strong>Interviewer:</strong>
  <%= Interviewer.find(@interview_schedule.interviewer_id).name%>
</p>

<p>
  <strong>Interviewee:</strong>
  <%= Interviewee.find(@interview_schedule.interviewee_id).name%>
</p>

<p>
  <strong>Start time:</strong>
  <%= @interview_schedule.Start_Time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @interview_schedule.End_Time %>
</p>

<%= link_to 'Edit', edit_interview_schedule_path(@interview_schedule) %> |
<%= link_to 'Back', interview_schedules_path %>
