<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1 class="display-6">Interview Scheduled</h1>
  <hr class="my-4">

  <p>
  <strong>Interviewer:</strong>
  <%= Interviewer.find(@interview_schedule.interviewer_id).name%>
  </p>

  <p>
  <strong>Interviewee:</strong>
  <%= Interviewee.find(@interview_schedule.interviewee_id).name%>
  </p>

  <p>
  <strong>Start time:</strong>
  <%= @interview_schedule.start_time %>
  </p>

  <p>
  <strong>End time:</strong>
  <%= @interview_schedule.end_time %>
  </p>

  <p>
  <strong>Resume:</strong>
  <%= @interview_schedule.resume %>
  </p>

  <br> 
  <%= link_to 'Edit', edit_interview_schedule_path(@interview_schedule), class:"btn btn-secondary p-btn" %>
  <%= link_to 'Back', interview_schedules_path, class:"btn btn-secondary p-btn" %>

  </span>
</div>
